/* Your SCSS here. */

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dark-theme {
background-color:black;
color: rgb(222, 192, 255);
}

*, html {
  margin:0;
  padding:0;  
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  padding: 15px 30px;
  background-color: rgb(222, 192, 255);
  padding: 90px 10px;
  transition: 0.4s;
}

.nav-links {
  @include center;
  list-style: none;
  justify-content: space-between;
  padding: 15px 30px;
}

.nav-links a {
  color: rgb(57, 0, 114);
  text-decoration: none;
}

.nav-links a.active {
  font-weight: bold;
}

.header {
  @include dark-theme;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh + 20;
  padding-top: 200px;
}

.main-content {
  @include center;
  color: rgb(222, 192, 255);
  background-color: #f5f5f5;
  width: 100%;
  justify-content: center;
  background-image: url('../assets/shimmer.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 20px;
}

.footer {
  text-align: center;
  background-color:cornsilk;
  height: 100px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  background: rgb(57, 0, 114);
}

.grid-item {
  background-color: rgb(222, 192, 255);
  padding: 20px;
}

.container-container {
  width: 100%;
  background-color: black;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  height: 90vh;
  padding-top: 80px;
  @include dark-theme;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  @include dark-theme;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 50%;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

button {
  padding: 10px 20px;
  background-color: rgb(57, 0, 114);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}